!!! 5
html(lang="en")
  head
    title hifi5e
    link(rel='stylesheet',type='text/css',href='http://fonts.googleapis.com/css?family=Carme')
    link(rel='stylesheet',type='text/css',href='/static/main.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js',type='text/javascript')
    script(src='/lib/modernizr.js',type='text/javascript')
    script(src='/lib/jquery.calendar-widget.js',type='text/javascript')
  body
    div#heading
      - if(user.id)
        a(href='/logout')
          | logout
        | last login: #{user.prettylastlogin}
      - else
        a(href='/login')
          | login
    
    !{body}