body {
  font-family: helvetica;
}

h1 {
  font-family: 'Carme', sans-serif;
}

#fi5e {
  background-image: url('/static/star.svg');
  background-repeat: no-repeat;
  background-position: -1000px -1000px;
}

#fi5e input {
  font-size: 150%;
  vertical-align: middle;
}
#fi5e ul {
  list-style-type: none;
}

.star {
  background-image: url('/static/star-gray.svg');
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
}

.star.on {
  background-image: url('/static/star.svg');
}

#heading {
  float: right;
}

#calendar .calendar-month  {
  border-right: 1px solid #999;
  border-top: 1px solid #999;
}

#calendar td, th {
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  text-align: center;
  padding: 5px 0 15px 0px;
  height: 36px;
}

#calendar div.tiny {
  width: 16px;
  height: 16px; 
  background-size: 100%;
}


#calendar .weekday {
  background: #666;
  color: white;
  width: 120px;
}

#calendar .day {
  display: block;
}

#calendar .other-month {
  background: #eee;
}